:root {
    --blue-color: rgb(152, 166, 168);
    --gray-color:  rgb(53, 67, 79);
    --yellow-color: rgb(243, 228, 13);
    --orange-color: rgb(204, 94, 57);
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: rgb(43, 70, 85);
}

a {
    text-decoration: none;
    color: white;
}

i {
    font-size: 3em;
}

.navbar-options {
    display: flex;
}

.name {
    margin-bottom: 0;
    font-weight: bold;
}

.gray-box {
    /* border-right: rgb(53,67,79) solid 1px; */
    border-right: rgb(255, 255, 255) solid 1px;
    padding-left: 0.7em;
    padding-right: 0.7em;
}
.gray-box-left {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url('photos/milkovi-397631-unsplash.jpg'); */
    font-weight: bold;
    width: 100%;
    position: relative;
}

.center-text {
    position: absolute;
    align-self: center;
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.header {
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    /* background-color: rgba(255, 255, 255, 0.9); */
    background-color: rgba(43, 70, 85, 0.5);
    color: white;
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 1;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2em;
}

.all-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card.none {
    display: none;
}

.card.expand {
    width: 90%;
    height: 30em;
    overflow: scroll;
    padding: 3em 15em;
}

.personal {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-two {
    font-family: 'M PLUS 1p', sans-serif;
}

.profile-photo {
    border-radius: 25%;
    margin-top: 1em;
    max-width: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    height: 3.5em;
    padding: 2em 10em;
    width: 100%;
    margin: 1em 0 0 0;
    transition: all 0.5s ease-in-out; 
}

.outline {
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.one {
    background-color: rgba(175, 197, 208, 1);
    color: rgb(53,67,79);
    /* color: white; */
}
.two {
    background-color: rgba(247, 234, 50, 1);
    color: rgb(53,67,79);
    /* color: white; */

}
.three {
    background-color: rgba(229, 93, 45, 1);
    /* background-color: rgba(228, 218, 207, 1);  */
    /* color: rgb(53,67,79); */
    color: white;

}

.spacer {
    flex-grow: 1;
}

.contact {
    font-family: 'M PLUS 1p', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 1em;
    color: white;
    background-color:rgb(43, 70, 85);
    /* position: sticky;
    bottom: 0; */
}

.footer-contact-info {
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

@media(min-width: 550px) {
    .header-content {
        flex-direction: row;
        justify-content: space-between;
    }
    .name {
        margin-bottom: auto;
    }
    .card {
        width: fill-available;
    }
}

@media(min-width: 1024px) {
    .atl-photo {
        margin-left: 2em;
        margin-right: 2em;
    }
    .expand {
        margin: 3em;
        /* height: 40em; */
    }
}

@media(min-width: 1200px) {
    .atl-photo {
        margin-left: 4.5em;
        margin-right: 4.5em;
    }
    .expand {
        margin: 5em;
    }
}