:root {
    --blue-color: rgb(152, 166, 168);
    --gray-color:  rgb(53, 67, 79);
    --yellow-color: rgb(243, 228, 13);
    --orange-color: rgb(204, 94, 57);
}
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar-options {
    display: flex;
}
.name {
    margin-bottom: 0;
    font-weight: bold;
}

.gray-box {
    border-right: rgb(53,67,79) solid 1px;
    padding-left: 0.7em;
    padding-right: 0.7em;
}
.gray-box-left {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('milkovi-397631-unsplash.jpg');
    font-weight: bold;
    width: 100%;
    position: relative;
}

.center-text {
    position: absolute;
    align-self: center;
}

.header {
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 1;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2em;
}

.first-container, .second-container {
    display: flex;
    flex-direction: column;
}

.all-cards {
    display: flex;
    flex-direction: column;
}

.card-container {
    cursor: pointer;
    perspective: 600;
    height: 20em;
    position: relative;
    min-width: 48%;
    margin: 0.5em;
    -webkit-min-logical-height: min-content;
    transition: all 0.5s ease-in;
}

.flex {
    display: flex;
    flex-direction: column;
}

.none {
    display: none;
    transition-duration: 1s;
}
.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}

.flip {
    transform: rotateY(180deg);
}

.personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-two {
    font-family: 'M PLUS 1p', sans-serif;
}

.profile-photo {
    border-radius: 1%;
    margin-top: 1em;
    max-width: 400px;
}

.card .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: scroll;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(45, 60, 70);
}

.card .back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
}

.card > .first {
    background-color: rgba(152, 166, 168, 0.8);
    /* color: rgb(53,67,79); */
    color: rgba(0, 0, 0, 0.5);
    /* color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000; */
}
.card > .second {
    background-color: rgba(204, 94, 57, 0.8);
    color: rgb(53,67,79);
}
.card > .third {
    background-color: rgba(243, 228, 13, 0.8);
    color: rgb(53,67,79);
}
.card > .fourth {
    /* background-color: rgba(53,67,79, 0.4); */
    background-color: rgba(205, 192, 186, 0.8); 
    /* background-color: white; */
    color: rgb(53,67,79);
}

.expand {
    width: 100%;
    height: 50em;
}

.spacer {
    flex-grow: 1;
}

.contact {
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
}

.open {
    display: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    /* background-color: rgb(53,67,79); */
}

@media(min-width: 550px) {
    .first-container, .second-container {
        flex-direction: row;
        padding: 0.2em;
        justify-content: space-between;
    }
    .header-content {
        flex-direction: row;
        justify-content: space-between;
    }
    .name {
        margin-bottom: auto;
    }
}

@media(min-width: 1024px) {
    .card-container {
        height: 30em;
    }
    .atl-photo {
        margin-left: 2em;
        margin-right: 2em;
    }
    .expand {
        margin: 1em;
        height: 40em;
    }
}

@media(min-width: 1200px) {
    .atl-photo {
        margin-left: 4.5em;
        margin-right: 4.5em;
    }
    .expand {
        margin: 2em;
    }
}